body {
  background-color: #58b4b4;
}

label {
  font-size: 13px;
  font-weight: 550;
}

#todo-box {
  background-color: #fbfbfb;
  width: 50%;
  float: left;
  overflow: auto;
  margin-top: 5rem;
  margin-left: 4rem;
  padding: 0.5rem 0;
  text-align: center;
  border-radius: 15px 15px;
}

#complete-box {
  background-color: #fbfbfb;
  width: 40%;
  float: right;
  overflow: auto;
  margin-top: 5rem;
  margin-right: 4rem;
  padding: 0.5rem 0;
  text-align: center;
  border-radius: 15px 15px;
}

.input-box {
  margin-top: 0.5em;
}

.title {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 950;
}

#todo-input {
  width: 80%;
  height: 30px;
  line-height: normal;
  padding: 0.5em 0.5em;
  border: 1px solid #dedede;
  border-radius: 5px 5px;
}

#date-input {
  width: 35%;
  height: 30px;
  line-height: normal;
  padding: 0.5em 0.5em;
  border: 1px solid #dedede;
  border-radius: 5px 5px;
}

#todo-select {
  width: 35%;
  height: 30px;
  line-height: normal;
  padding: 0.5em 0.5em;
  border: 1px solid #dedede;
  border-radius: 5px 5px;
}

#add-button {
  height: 30px;
  line-height: normal;
  padding: 0.6em 0.8em;
  border: 0;
  border-radius: 5px 5px;
  background-color: #427f7f;
  color: #ffffff;
}

.todo-list-box {
  width: 90%;
  height: 300px;
  overflow: auto;
}

.complete-list-box {
  width: 90%;
  height: 383px;
  overflow: auto;
}

.list-item {
  padding: 1rem 1rem;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 700;
  text-align: left;
}

.item {
  display: inline-block;
  width: 200px;
}

.dday {
  color: #ffa500;
}

.select-item {
  display: inline-block;
  width: 60px;
  color: #58b4b4;
}

.remove {
  vertical-align: middle;
  float: right;
  padding: 0.1em 0.3em;
  border: 0;
  border-radius: 5px 5px;
  background-color: #da3939;
  color: #ffffff;
}

.complete {
  vertical-align: middle;
  float: right;
  padding: 0.1em 0.3em;
  margin-right: 0.3em;
  border: 0;
  border-radius: 5px 5px;
  background-color: #3194bd;
  color: #ffffff;
}
