body {
  background-color: #58b4b4;
}

#todo_box {
  background-color: #fbfbfb;
  width: 600px;
  margin: 0 auto;
  margin-top: 5rem;
  padding: 1rem 0;
  text-align: center;
  border-radius: 15px 15px;
}

#complete_box {
  background-color: #fbfbfb;
  width: 600px;
  margin: 0 auto;
  margin-top: 5rem;
  padding: 1rem 0;
  text-align: center;
  border-radius: 15px 15px;
}

#title {
  height: 4rem;
  font-size: 40px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 900;
}

#input {
  width: 80%;
  height: auto;
  line-height: normal;
  padding: 0.5em 0.5em;
  border: 1px solid #dedede;
  border-radius: 5px 5px;
}

#add_button {
  height: auto;
  line-height: normal;
  padding: 0.6em 0.8em;
  border: 0;
  border-radius: 5px 5px;
  background-color: #3c3c3c;
  color: #ffffff;
}

.list_box {
  width: 90%;
  overflow-y: auto;
}

.list_item {
  padding: 1rem 1rem;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 700;
  text-align: left;
}

#remove {
  vertical-align: middle;
  float: right;
  padding: 0.2em 0.4em;
  border: 0;
  border-radius: 5px 5px;
  background-color: #da3939;
  color: #ffffff;
}

#complete {
  vertical-align: middle;
  float: right;
  padding: 0.2em 0.4em;
  margin-right: 0.3em;
  border: 0;
  border-radius: 5px 5px;
  background-color: #3194bd;
  color: #ffffff;
}
